.datepicker {
  display: block;
  font-size: 12px;
}

.datepicker .panel-container {
  margin: 0 -5px;
}

.datepicker .date-panel {
  float: left;
  width: 200px;
  margin: 0 5px;
}

.datepicker .date-panel table {
  position: relative;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #CCC;
  background: #FFF;
}

.datepicker .date-panel th {
  text-align: center;
  text-transform: capitalize;
  border: 1px solid #428bca;
}

.datepicker .date-panel th a {
  color: #FFF;
  text-decoration: none;
  display: block;
  position: relative;
  width: 29px;
  height: 30px;
  line-height: 30px;
  position: absolute;
  top: 0;
}

.datepicker .date-panel thead tr:nth-child(1) th {
  border-bottom: 2px solid #285379;
  padding: 6px 0;
  background: #428bca;
  color: #FFF;
}

.datepicker .date-panel thead tr:nth-child(2) th {
  padding: 4px 0;
  background: #F0F0F0;
  border: none;
  color: #AAA;
  font-weight: normal;
  font-size: 10px;
  border-bottom: 1px solid #E9E9E9;
}

.datepicker .date-panel th.prev-month,
.datepicker .date-panel th.next-month {
  padding: 0;
}

.datepicker .date-panel th.prev-month a {
  left: 0;
}

.datepicker .date-panel th.next-month a {
  right: -1px;
}

.datepicker .date-panel th.prev-month a:hover,
.datepicker .date-panel th.next-month a:hover {
  background: #68A2D5;
}

.datepicker .date-panel th.active-month {
  text-align: center;
}

.datepicker .date-panel tbody {
  padding: 50px 0;
}

.datepicker .date-panel th.dow {
  padding: 0 0 5px 0;
}

.datepicker .date-panel td {
  padding: 4px;
  text-align: center;
  cursor: pointer;
}

.datepicker .date-panel td:hover {
  background: #F5F5F5;
}

.datepicker .date-panel td.selected {
  color: #FFF;
  background: #428bca;
}

.datepicker .date-panel td.selected.comparison {
  background: #47a447;
}

.datepicker .date-panel td.selected.base.comparison {
  background: #ed9c28;
}

.datepicker .date-panel td.disabled {
  color: #CCC;
  cursor: default;
}

.datepicker .date-panel td.disabled:hover {
  background: transparent;
}

.datepicker .date-panel td.today {
  font-weight: bold;
}

.datepicker-container {
  position: absolute;
  z-index: 9999;
  width: 200px;
}

.datepicker-container .datepicker {
  margin-top: 5px;
}
